.App {
  text-align: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile-image {
  width: 100px;
  height:100px ; /* Adjust the size of the profile image as needed */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 20px;
}.social-accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-account {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.social-account a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin-right: 10px; /* Adjust the spacing between icon and text */
}

.social-account p {
  margin: 0;
}